[Unit]
Description=Save RTC alarm at shutdown
DefaultDependencies=no
After=hwclock-save.service
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/rtcwakeup
 
[Install]
WantedBy=reboot.target halt.target poweroff.target
